body{
    font-family: 'Poppins', sans-serif;
}
h1{
font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color:orange;
}
p{
    text-align: justify;
    padding-left: 2px;
}
.flexoble-container{
    display: flex;
    margin-bottom: 100px;
}
.firsthalf{
    width: 50%;
    padding-left: 2%;
}
.firsthalf img{
    width:60% 
}
.linkbutton{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color:white;
    font-weight:bold;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
}
.experience-item{
margin-left: 5%;
margin-right: 5%;
width: 50%;
padding-left: 20px;
border-radius: 10px;
box-shadow: 10px 10px 40px gray;
}
.experience-area{
background-image: url(images/exp-bg.png);
background-repeat: no-repeat;
background-position: left;
}
#web-dev-pro{
    border-left:7px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
}
#web-dev-baby{
    border-left:7px solid;
    border-image: linear-gradient(rgb(106, 106, 168), skyblue);
    border-image-slice: 1;
}
.footer-text{
text-align: center;
}